[submodule "twittervotes"]
	path = twittervotes
	url = ./twittervotes
[submodule "counter"]
	path = counter
	url = ./counter
[submodule "twittervotes-api"]
	path = twittervotes-api
	url = ./twittervotes-api
