[submodule "twittervotes"]
	path = twittervotes
	url = https://github.com/ryoukata/twittervotes.git
[submodule "counter"]
	path = counter
	url = https://github.com/ryoukata/counter.git
[submodule "twittervotes-api"]
	path = twittervotes-api
	url = https://github.com/ryoukata/twittervotes-api.git
[submodule "twittervotes-client"]
	path = twittervotes-client
	url = https://github.com/ryoukata/twittervotes-client.git
